nav {
    background: rgba(28, 107, 153, 0.575);
    display: flex;
    width: 100%;
    align-items: flex-end;
    justify-content: space-between;
    border: rgba(255, 255, 255, 0.459);
    border-style: solid;
}

.tabs {
    display: flex;
    font-size: 1.35rem;
    padding-left: 100px;
}

.tabs li {
    display: flex;
    padding: 0px 90px;
}

.acc_options {
    display: flex;
    flex-direction: column;
}