nav {
    background: rgba(28, 107, 153, 0.575);
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: white;
    border-style: solid;
}

.tabs {
    display: flex;
    font-size: 1.3rem;
    border: red;
    border-style: dotted;
}

.tabs li {
    display: flex;
    justify-content: space-evenly;
    border: cyan;
    border-style: solid;
}

.tabs li a:hover {
    color: black;
}

.acc_options {
    display: flex;
    flex-direction: column;

    border: green;
    border-style: dashed;
}