.container_home {
    background: none;
    display: flex;
  }
  
  .container_home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-image: url('/assets/hexagon.jpg');
    background-size: cover;
    filter: blur(9px);
  }

  
  